<!-- Footer Starts -->
<footer>
  <div class="topFooter" style="padding:2em 2em 1em 2em;">
    <div class="container" style="width: 100%;">
      <div class="row">
          <a href="#" class="logoWrapper">
            <img style="margin: 0" src="../../../../assets/images/logo.png" alt="ROTOPROS LOGO" class="img-responsive"/>
          </a>
        <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 topFooterWrapper"> -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h1 class="footerHding">ABOUT US</h1>
          <hr style="margin-top:-0.5em;">
          <p class="footerPara">RotoPros.com is a daily fantasy sports analytics platform that offers the best tools in the industry. RotoPros offers lineup optimizers, projections, daily sports content, podcasts, tools, and many premium features.</p>
          <br>
          <ul class="footerLinks" style="text-align:right;">
            <li><a routerLink="/about">CLICK HERE TO KNOW MORE ABOUT US...</a></li>
          </ul>
        </div>
        <!-- <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col-lg-offset-1"> -->
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <h1 class="footerHding">CONTACT US</h1>
          <hr style="margin-top:-0.5em;">
          <ul class="footerLinks" style="margin-left:-0.5em;">
            <li><a routerLink="/contact">We would love to hear from you. Click here, it will only take a couple of minutes.</a></li>
            <!-- <li><a href="#">Getting Started</a></li>
            <li><a href="#">Free Content</a></li>
            <li><a href="#">Member Content</a></li>
            <li><a href="#">Apparel</a></li> -->
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <h1 class="footerHding">FOLLOW US ON:</h1>
          <hr style="margin-top:-0.5em;">
          <ul class="footerSocialLinks">
            <li><a href="https://www.facebook.com/RotoPros/" target="_blank"><img src="../../../../assets/images/footer_facebook_icn.svg" alt="Facebook" class="img-responsive"/></a></li>
            <li><a href="https://twitter.com/RotoProsDFS" target="_blank"><img src="../../../../assets/images/footer_twitter_icn.png" alt="Twitter" class="img-responsive"/></a></li>
            <li><a href="https://www.instagram.com/dfsRotoPros" target="_blank"><img src="../../../../assets/images/footer_insta_icn.png" alt="Instagram" class="img-responsive"/></a></li>
            <li><a href="mailto: support@rotopros.com"><img src="../../../../assets/images/footer_email_icn.png" alt="" class="img-responsive"/></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bottomFooter">
    <div class="container">
      <div class="row">
        <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 bottomFooterLft"> -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p style="text-align:center;">Copyright © 2017 - {{currYear | date :'yyyy'}}, ROTOPROS. All Rights Reserved.</p>
        </div>
        <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 bottomFooterRght">
          <p>Web Site Designed & Developed by <a href="http://www.flexsin.com/">Flexsin</a></p>
        </div>-->
      </div>
    </div>
  </div>

</footer>
<!-- Footer Ends -->
