<md-card>
  <md-card-content>
    <div class="plan-container"
         *ngIf="plan"
         (mouseenter)="onPlanMouseOver($event)"
         (mouseleave)="onPlanMouseOut($event)">
      <div class="plan-title-container">
        <p class="plan-title">{{plan.name}}</p>
        <div class="plan-action-container" *ngIf="showActionIcons">
          <button md-icon-button (click)="onEditBtnClicked()" class="plan-action" md-tooltip="Edit membership plan">
            <md-icon>edit</md-icon>
          </button>
          <button md-icon-button (click)="onDeleteBtnClicked()" class="plan-action" md-tooltip="Delete membership plan">
            <md-icon>delete</md-icon>
          </button>
        </div>
      </div>

      <p class="plan-sub-title">{{plan.trial_period_days}} days free trial then ${{plan.amount}} per
        {{plan.interval}}</p>
      <!--<div class="plan-sign-up-link">
        <span>sign up link</span><a>www.signuplink.com</a>
      </div>-->
      <div class="plan-settings-container">
        <button md-button class="plan-setting-btn">{{plan.is_active ? 'Enabled' : 'Disabled'}}</button>
        <button md-button class="plan-setting-btn">{{plan.is_public ? 'Public' : 'Private'}}</button>
      </div>

    </div>
  </md-card-content>
</md-card>

