<!-- Login Page Starts -->
<section class="loginDetails">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-7">
        <div class="row">
          <div class="col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RpRcXAlSXio?rel=0"
                      frameborder="0"
                      allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-lg-5">
        <div class="loginDetailsWrapper" style="width: 100%">
          <!--<div class="loginLftWrapper">
            &lt;!&ndash;<img src="../../../../assets/images/login_lft_img.png" alt="" class="img-responsive"/>&ndash;&gt;
          </div>-->
          <div class="loginRghtWrapper signupRghtWrapper" style="width: 100%">
            <div class="mainTab">
              <div class="tab">
                <ul>
                  <li style="width: 100%">
                    <a href="#VIPPackages " class="tablinks active">All Access Packages</a>
                  </li>
                </ul>
              </div>
              <div id="VIPPackages" class="tabcontent" style="display:block;min-height: 400px">
                <div class="rp-plan-container">
                  <div *ngIf="showPartialSignUpMsg">
                    Please Complete your sign up process by subscribing to any of Rotopors plans.
                    <br><br>
                  </div>
                  <div class="common-loader" *ngIf="isLoading">
                    <md-progress-spinner mode="indeterminate" color="accent"
                                         style="width: 50px;height: 50px"></md-progress-spinner>
                  </div>
                  <div style="display: flex;justify-content: center;align-items: center"
                       *ngIf="!plans || !plans.length">
                    <span>No Package Found</span>
                  </div>
                  <div class="rp-plan" *ngFor="let plan of plans">
                    <div class="plan-name">{{plan.name}}</div>
                    <div class="plan-price">
                      <span *ngIf="params.id">
                        <span class="discount-text" *ngIf="params.discount_type === 'flat'">{{(plan.amount / 100) - params.discount_rate | currency:'USD':true}}</span>
                        <span class="discount-text" *ngIf="params.discount_type === 'percentage'">{{(plan.amount / 100) * (1 - (params.discount_rate / 100)) | currency:'USD':true}}</span>
                      </span>
                      <span *ngIf="!params.id">
                        <span>{{(plan.amount / 100) | currency:'USD':true}}</span>
                      </span>
                    </div>
                    <div class="plan-time">{{'/'+plan.interval_count+' '+plan.interval}}</div>
                    <div class="plan-trial-period">{{'('+plan.trial_period_days+'-days free trial)'}}</div>
                    <button class="btn-subscribe btn-lg btn-primary" (click)="onBtnSubscribeClick(plan)">Subscribe
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Login Page Ends -->
