<section class="sectionHedin">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="lineupHedin">
          <h1>Articles</h1>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="articleSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="dTabs">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li (click)="onTabChanged('trending')"
                [class.active]="activeTab == 'trending'">
              <a>Trending Topics</a>
            </li>
            <li *ngFor="let category of categories;"
                (click)="onTabChanged(category)"
                [class.active]="activeTab == category.id">
              <a>{{ category.name }}</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="NFL">

              <div class="dTabs dTabsInner">
                <!-- Nav tabs -->
                <ul *ngIf="activeTab=='trending'" class="nav nav-tabs">
                  <li *ngFor="let subtab of subTrendingTabs;"
                      (click)="onTabChanged(subtab)"
                      [class.active]="subActiveTab == subtab">
                    <a>{{ subTrendingTabsLabels[subtab] }}</a>
                  </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="All">
                    <div class="mPlaceWrap"
                         infinite-scroll
                         debounce
                         [infiniteScrollDistance]="2"
                         [infiniteScrollThrottle]="300"
                         (scrolled)="onScroll(category)">
                   <!--   <div class="mPlaceItm" *ngFor="let post of []">
                        <div class="mPlaceTp">
                          <div class="mPlaceImgWrap">
                            <img alt="Media Placeholder" class="img-responsive"
                                 [ngClass]="{'noImage':!findMedia(post.featured_media)}"
                                 src="{{findMedia(post.featured_media)}}"/>
                          </div>
                          <div class="mPlaceInfoWrap">
                            <a href="article_detail.html" class="mPlaceHedin">{{post.title.rendered}}</a>
                            <p class="mPlacePara">{{post.extract}}</p>
                          </div>
                        </div>
                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
