<header>
  <div class="topHeader">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sidePad">
          <nav class="topNavbar">
            <ul class="pull-right">
              <li><a href="#">Lineup Optimizer</a></li>
              <li><a href="#">Excel Tool<span class="sr-only">(current)</span></a></li>
              <li><a href="#">Extensions</a></li>
              <li><a href="#">Contest Analyzer</a></li>
              <li><a href="#">Injury Feeds</a></li>
              <li><a href="#">DFS Basics</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>


  <div class="bottomHeader">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sidePad bottomHeaderNav">


          <div class="logoWrapper">
            <a routerLink="/"><img src="../../../../assets/images/logo.png" alt="LOGO" class="img-responsive"/></a>
          </div>

          <div class="menuToggle">
            <img src="../../../../assets/images/menu-toggle.png" alt=""/>
          </div>
          <div class="mainMenu">
            <div class="closeBtn">
              <span><img src="../../../../assets/images/close_icn.png" alt="" class="img-responsive"/></span>
            </div>
            <ul>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="">Home<span class="sr-only">(current)</span></a>
              </li>
              <li><a>Forums</a></li>
              <li><a>Products</a></li>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/articles">Articles</a>
              </li>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/test">Marketplace</a>
              </li>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/news">Player News</a>
              </li>
              <li><a>Podcasts</a></li>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/lineups">Lineups</a>
              </li>
            </ul>
          </div>
          <div class="rightNav">
            <ul>
              <li class="loginBtn" *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
              <li class="signUpBtn" *ngIf="!isLoggedIn"><a routerLink="/signup">Sign Up</a></li>
              <li class="signUpBtn" *ngIf="isLoggedIn">
                <a style="width: auto" routerLink="{{role == 'user' ? '/user' : '/admin'}}">
                  Go to Dashboard
                </a>
              </li>
              <li class="searchBtn">
                <a href="javascript:void(0)"><img src="../../../../assets/images/search_icn.png" alt="LOGO"
                                                  class="img-responsive"/></a>
                <div class="srchBar">
                  <div class="form-group">
                    <label class="srOnly">Search</label>
                    <input type="text" name="search" placeholder="Search">
                  </div>
                  <button type="button"><img src="../../../../assets/images/search_icn.png" alt="LOGO"
                                             class="img-responsive"/></button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
