<!-- <section class="sectionHedin">
  <div class="container ">
    <div class="common-loader" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate" color="accent" diameter="50"></mat-progress-spinner>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sidePad">
        <div class="lineupHedin">
          <h1>Injuries</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="newsSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="dTabs">
          <rp-tab-view [tabs]="newsTabs"
                       [activeTab]="activeTab"
                       (tabChanged)="onNewsTabChanged($event)"></rp-tab-view>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="NFL">

              <div class="dTabs dTabsInner">
                <div class="tab-content">
                  <div class="tab-pane active">
                    <div class="no-news-msg" *ngIf="!allInjuriesRecords || !allInjuriesRecords.length">No data available !!</div>
                    <div class="newsItmWrap">
                      <div class="newsItm" *ngFor="let inj of allInjuriesRecords | paginate: {
                                                      itemsPerPage: 10,
                                                      currentPage: currentPage}">
                        <div class="newsItmTp">
                          <div class="newsItmNameWrap">
                            <div class="newsItmName">
                              <span class="newsImg">
                                <img [attr.src]="inj?.player_image ? inj.player_image : 'http://static.fantasydata.com/headshots/mlb/low-res/0.png'" alt=""
                                     style="width: 70px;height: 70px"
                                     class="img-responsive"/></span>
                              <span class="newsName"><a href="javascript:void(0)">{{inj?.first_name}} {{inj?.last_name}}</a></span>
                              <span class="news-position"><a href="javascript:void(0)">{{inj?.position}} </a></span>
                              <span class="news-position"><a href="javascript:void(0)">{{inj?.team_name}} </a></span>

                            </div>
                            <div class="newsItmDate">
                              <p>{{inj?.injury_news_date | date : 'MMM dd, yyyy h:m a'}}</p>
                            </div>
                          </div>
                          <div class="newsWrap">
                            <h2><a>{{inj?.injury_headline}}</a></h2>
                            <p style="text-align: justify">{{inj?.injury_notes}}</p>
                            <h5 *ngIf="inj.injury_analysis">Analysis</h5>
                            <p *ngIf="inj.injury_analysis" style="text-align: justify">{{inj?.injury_analysis}}</p>
                          </div>
                        </div>
                        <div class="newsItmBtm">
                          <div class="newsItmBtmLft">

                            <div class="newsItmBtmLft4" *ngIf="inj.injury.return_date">
                              <span class="injury-data">Return Date: </span>
                              <span class="txtWrapper">{{inj?.injury?.return_date}}</span>
                            </div>
                            <div class="newsItmBtmLft5">
                              <span class="injury-data">Injury : </span>
                              <span class="txtWrapper">{{inj?.injury?.type}}</span>
                            </div>
                          </div>
                          <div class="newsItmBtmRght">
                            <span class="txtWrapper injury-status">{{inj?.injury?.status}}</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="pagination">
                      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
