<div class="addFilter">
  <h2>Add Another Filter</h2>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#filterOne" aria-expanded="true"
             aria-controls="collapseOne">
            <span class="icnWrapperS"><img src="../../../../assets/images/filterBx_accicn.png" alt="" class="icn-responsive"/></span><span>General</span>
          </a>
        </h4>
      </div>
      <div id="filterOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="form-group">
            <label class="">Contest title search</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Site</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a site)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Season</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a season)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Contest Type</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a type)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#filterTwo"
             aria-expanded="false" aria-controls="collapseTwo">
            <span class="icnWrapperS"><img src="../../../../assets/images/filterBx_accicn.png" alt="" class="icn-responsive"/></span><span>Entry Date</span>
          </a>
        </h4>
      </div>
      <div id="filterTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <div class="form-group">
            <label class="">Contest title search</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Site</label>
            <div class="filterBtnWrapper">
              <select type="text" class="form-control" name="" placeholder="(Choose a site)">
                <option>1</option>
                <option>1</option>
                <option>1</option>
              </select>
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Season</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a season)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Contest Type</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a type)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#filterThree"
             aria-expanded="false" aria-controls="collapseThree">
            <span class="icnWrapperS"><img src="../../../../assets/images/filterBx_accicn.png" alt="" class="icn-responsive"/></span><span>Entry Fee</span>
          </a>
        </h4>
      </div>
      <div id="filterThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <div class="form-group">
            <label class="">Contest title search</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Site</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a site)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Season</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a season)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Contest Type</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a type)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#filterFour"
             aria-expanded="false" aria-controls="collapseFour">
            <span class="icnWrapperS"><img src="../../../../assets/images/filterBx_accicn.png" alt="" class="icn-responsive"/></span><span>Your Entries</span>
          </a>
        </h4>
      </div>
      <div id="filterFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <div class="form-group">
            <label class="">Contest title search</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Site</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a site)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Season</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a season)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Contest Type</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a type)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#filterFive"
             aria-expanded="false" aria-controls="collapseFive">
            <span class="icnWrapperS"><img src="../../../../assets/images/filterBx_accicn.png" alt="" class="icn-responsive"/></span><span>Total Contest Entries</span>
          </a>
        </h4>
      </div>
      <div id="filterFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          <div class="form-group">
            <label class="">Contest title search</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Site</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a site)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Season</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a season)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Contest Type</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a type)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#filterSix"
             aria-expanded="false" aria-controls="collapseSix">
            <span class="icnWrapperS"><img src="../../../../assets/images/filterBx_accicn.png" alt="" class="icn-responsive"/></span><span>Head to Head Opponents</span>
          </a>
        </h4>
      </div>
      <div id="filterSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body">
          <div class="form-group">
            <label class="">Contest title search</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Site</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a site)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Season</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a season)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Contest Type</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a type)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSeven">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#filterSeven"
             aria-expanded="false" aria-controls="collapseSeven">
            <span class="icnWrapperS"><img src="../../../../assets/images/filterBx_accicn.png" alt="" class="icn-responsive"/></span><span>Prize Pools</span>
          </a>
        </h4>
      </div>
      <div id="filterSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="panel-body">
          <div class="form-group">
            <label class="">Contest title search</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Site</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a site)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Season</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a season)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>

          <div class="form-group">
            <label class="">Contest Type</label>
            <div class="filterBtnWrapper">
              <input type="text" class="form-control" name="" placeholder="(Choose a type)">
              <button type="button" class="addFltrBtn">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
