.dUpldBxLft{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.file-drop-zone {
  min-height: initial;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: stretch;
}

.file-drop-zone > div {
  flex: 1;
}

