md-input-container {
  font-size: 16px;
}

md-card-actions {
  display: flex;
  justify-content: flex-end;
}

.amount-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.plan-control {
  margin-top: 20px;
  margin-bottom: 20px;
}

.plan-options {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.control-title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
  margin-bottom: 5px;
}

.plan-expiration {

}

.specific-date-plan {
  margin-bottom: 30px;
}

.specific-date-plan .date {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.specific-date-plan .date md-select {
  margin-left: 20px;
  margin-right: 20px;
}

.specific-date-plan .time {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.specific-date-plan .time md-select {
  margin-left: 20px;
  margin-right: 20px;
}

.time-period-plan .time {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-period-plan .time md-select {
  margin-left: 20px;
  margin-right: 20px;
}

.time-period-plan .time md-input-container {
  margin-left: 20px;
  margin-right: 20px;
}

.time-period-plan {

}

.plan-expiration-options {
  display: flex;
  justify-content: space-between;
}

.plan-amount {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
