.plan-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.membership-options-wrapper {
  margin: 10px 10px 20px 10px;
}

.membership-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-plan-btn {
  background-color: #E91E63;
  color: #fff;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
