:host {
  display: block;
  margin: 10px 10px 20px 10px;
  width: 100%;
}

md-card {
  padding: 0;
}

.plan-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.plan-title-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #22baa0;
  color: #fff;
  width: 100%;
  height: 44px;
}

.plan-title {
  font-size: 24px;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px 5px;
}

.plan-sub-title {
  margin-bottom: 20px;
}

.plan-sign-up-link {
  margin-bottom: 15px;
}

.plan-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.plan-setting-btn {
  margin: 0 10px;
}

.plan-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan-action {
  margin: 0;
}
