.news-notes {
  text-align: justify;
}

.social-feed-img {
  height: 150px;
  width: 100%;
}

.news-item {
  border-top: 1px solid #eee;
}

.news-item:first-child {
  border-top: none;
}

.pointer {
  cursor: pointer;
}

.redirect-msg {
  font-size: 20px;
  padding: 18px 18px;
}
@media (min-width: 768px) {
  .indexNPrt2Rght {
    height: calc(100vh - 100px);
    overflow: hidden;
  }

  .indexNPrt2Rght .tab-content {
    height: calc(100% - 155px);
    overflow: auto;
  }
}

