<!-- BoPrt1 Starts -->
<section class="boPrt1">
  <div class="container">
    <div class="row boPrt1Wrapper">
      <div class="hidden-xs col-sm-5 col-md-5 col-lg-5 bannerTopImg">
        <img src="../../../../assets/images/banner_top_img.png" alt="" class="img-responsive"/>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 bannerTopCaption">
        <div class="bannerTopTxt">
          <h1>
            <span>DAILY</span>
            <span>FANTASY</span>
            <span><span class="white">SPORTS</span> ANALYSIS</span>
          </h1>
          <p>
            <span>Premium Tools To Dominate</span>
            <span>Daily Fantasy Sports</span>
          </p>
          <a routerLink="/signup">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- BoPrt1 Ends -->
<!-- Match Details Starts -->
<!--<section class="matchDetails">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tabWrapper">

          &lt;!&ndash; Nav tabs &ndash;&gt;
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#nfl" aria-controls="nfl" role="tab" data-toggle="tab">NFL</a></li>
            <li role="presentation"><a href="#mlb" aria-controls="mlb" role="tab" data-toggle="tab">MLB</a></li>
            <li role="presentation"><a href="#cfb" aria-controls="cfb" role="tab" data-toggle="tab">CFB</a></li>
            <li role="presentation"><a href="#pi" aria-controls="pi" role="tab" data-toggle="tab">PI</a></li>
            <li role="presentation"><a href="#nascar" aria-controls="nascar" role="tab" data-toggle="tab">NASCAR</a></li>
            <li role="presentation"><a href="#mls" aria-controls="mls" role="tab" data-toggle="tab">MLS</a></li>
          </ul>

          &lt;!&ndash; Tab panes &ndash;&gt;
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="nfl">
              <div class="owl-carousel owl-theme matchDetailsSlider">
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mlb">
              <div class="owl-carousel owl-theme matchDetailsSlider">
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="cfb">
              <div class="owl-carousel owl-theme matchDetailsSlider">
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="pi">
              <div class="owl-carousel owl-theme matchDetailsSlider">
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="nascar">
              <div class="owl-carousel owl-theme matchDetailsSlider">
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mls">
              <div class="owl-carousel owl-theme matchDetailsSlider">
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">CIN</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">NE</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">NJY</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SD</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">KC</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">SF</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
                <div class="item">
                  <h4 class="matchDate">Sat 10:00 pm</h4>
                  <ul>
                    <li><span class="teamName">DF</span><span class="teamScore">7</span></li>
                    <li><span class="teamName">UV</span><span class="teamScore">4</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Match Details End -->
<!-- News Details Starts -->
<section class="newsDetails">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="newsDetailsLft">
          <h1 class="mainHeadingBlack">Latest Podcast</h1>
          <p class="light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <p class="medium">when an unknown printer took a galley of type and scrambled it to make a type
            specimen book.</p>
          <p class="lastP">It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="tabWrapper">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#headLines" aria-controls="headLines" role="tab"
                                                      data-toggle="tab">HEADLINES</a></li>
            <li role="presentation"><a href="#clubNews" aria-controls="clubNews" role="tab"
                                       data-toggle="tab">CLUB NEWS</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="headLines">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Sed ut perspiciatis unde omnis iste natus
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="headingOne">
                    <div class="panel-body">
                      <p>It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout. The point of
                        using Lorem Ipsum is that.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse"
                         data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                         aria-controls="collapseTwo">
                        Sed ut perspiciatis unde omnis iste natus
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <p>It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout. The point of
                        using Lorem Ipsum is that.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse"
                         data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                         aria-controls="collapseThree">
                        Sed ut perspiciatis unde omnis iste natus
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="headingThree">
                    <div class="panel-body">
                      <p>It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout. The point of
                        using Lorem Ipsum is that.</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse"
                         data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                         aria-controls="collapseFour">
                        Sed ut perspiciatis unde omnis iste natus
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="headingFour">
                    <div class="panel-body">
                      <p>It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout. The point of
                        using Lorem Ipsum is that.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpane2" class="tab-pane" id="clubNews">
              <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="hOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion1"
                         href="#cOne" aria-expanded="true" aria-controls="cOne">
                        Sed ut perspiciatis unde omnis iste natus
                      </a>
                    </h4>
                  </div>
                  <div id="cOne" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="hOne">
                    <div class="panel-body">
                      <p>It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout. The point of
                        using Lorem Ipsum is that.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="hTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse"
                         data-parent="#accordion1" href="#cTwo" aria-expanded="false"
                         aria-controls="cTwo">
                        Sed ut perspiciatis unde omnis iste natus
                      </a>
                    </h4>
                  </div>
                  <div id="cTwo" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="hTwo">
                    <div class="panel-body">
                      <p>It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout. The point of
                        using Lorem Ipsum is that.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="hThree">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse"
                         data-parent="#accordion1" href="#cThree" aria-expanded="false"
                         aria-controls="cThree">
                        Sed ut perspiciatis unde omnis iste natus
                      </a>
                    </h4>
                  </div>
                  <div id="cThree" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="hThree">
                    <div class="panel-body">
                      <p>It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout. The point of
                        using Lorem Ipsum is that.</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="hFour">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse"
                         data-parent="#accordion1" href="#cFour" aria-expanded="false"
                         aria-controls="cFour">
                        Sed ut perspiciatis unde omnis iste natus
                      </a>
                    </h4>
                  </div>
                  <div id="cFour" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="hFour">
                    <div class="panel-body">
                      <p>It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout. The point of
                        using Lorem Ipsum is that.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- News Details End -->
<!-- Latest News Details Starts -->
<section class="latestNewsDetails">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="latestNewsWrapper">
          <h1>Latest News</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s.</p>
        </div>

        <div class="owl-carousel owl-theme latestNewsDetailsSlider">
          <div class="item">
            <div class="latestNewsImg">
              <img src="../../../../assets/images/latest_news_img1.png" alt="" class="img-responsive"/>
            </div>
            <div class="latestNewsTxt">
              <h3><a href="#">Sed ut perspiciatis unde omnis iste natus</a></h3>
            </div>
          </div>
          <div class="item">
            <div class="latestNewsImg">
              <img src="../../../../assets/images/latest_news_img2.png" alt="" class="img-responsive"/>
            </div>
            <div class="latestNewsTxt">
              <h3><a href="#">Sed ut perspiciatis unde omnis iste natus</a></h3>
            </div>
          </div>
          <div class="item">
            <div class="latestNewsImg">
              <img src="../../../../assets/images/latest_news_img3.png" alt="" class="img-responsive"/>
            </div>
            <div class="latestNewsTxt">
              <h3><a href="#">Sed ut perspiciatis unde omnis iste natus</a></h3>
            </div>
          </div>
          <div class="item">
            <div class="latestNewsImg">
              <img src="../../../../assets/images/latest_news_img4.png" alt="" class="img-responsive"/>
            </div>
            <div class="latestNewsTxt">
              <h3><a href="#">Sed ut perspiciatis unde omnis iste natus</a></h3>
            </div>
          </div>
          <div class="item">
            <div class="latestNewsImg">
              <img src="../../../../assets/images/latest_news_img1.png" alt="" class="img-responsive"/>
            </div>
            <div class="latestNewsTxt">
              <h3><a href="#">Sed ut perspiciatis unde omnis iste natus</a></h3>
            </div>
          </div>
          <div class="item">
            <div class="latestNewsImg">
              <img src="../../../../assets/images/latest_news_img2.png" alt="" class="img-responsive"/>
            </div>
            <div class="latestNewsTxt">
              <h3><a href="#">Sed ut perspiciatis unde omnis iste natus</a></h3>
            </div>
          </div>
          <div class="item">
            <div class="latestNewsImg">
              <img src="../../../../assets/images/latest_news_img3.png" alt="" class="img-responsive"/>
            </div>
            <div class="latestNewsTxt">
              <h3><a href="#">Sed ut perspiciatis unde omnis iste natus</a></h3>
            </div>
          </div>
          <div class="item">
            <div class="latestNewsImg">
              <img src="../../../../assets/images/latest_news_img4.png" alt="" class="img-responsive"/>
            </div>
            <div class="latestNewsTxt">
              <h3><a href="#">Sed ut perspiciatis unde omnis iste natus</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest News Details End -->
<!-- Social Details Starts -->
<section class="socialDetails">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tabWrapper">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#twtr" aria-controls="twtr" role="tab"
                                                      data-toggle="tab"><img
              src="../../../../assets/images/twitter_icn.png"
              alt="" class="img-responsive"/></a>
            </li>
            <li role="presentation"><a href="#fcebok" aria-controls="fcebok" role="tab"
                                       data-toggle="tab"><img src="../../../../assets/images/facebook_icn.png" alt=""
                                                              class="img-responsive"/></a></li>
            <li role="presentation"><a href="#insta" aria-controls="insta" role="tab" data-toggle="tab"><img
              src="../../../../assets/images/insta_icn.png" alt="" class="img-responsive"/></a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="twtr">
              <div class="owl-carousel owl-theme socialDetailsSlider">
                <div class="item" *ngFor="let tweet of twitterFeeds">
                  <div class="socialImgBx">
                    <img [attr.src]="tweet?.user?.profile_background_image_url_https"
                         style="width:290px;height: 180px"
                         alt="" class="img-responsive"/>
                  </div>
                  <div class="socialTxtBx">
                    <h1 class="socialNameWrapper"><span class="socialName">{{tweet?.user.name}}</span><span class="socialIcn"></span></h1>
                    <p class="socialMsg">{{tweet?.text}}</p>
                    <!--<a class="socialLink" href="#">http://abxjfhkjds http://abxjfhkjds</a>-->
                    <p class="hrsAgo">{{tweet.created_at |date:'dd MMM, yyyy h:m a'}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="fcebok">
              <div class="owl-carousel owl-theme socialDetailsSlider">
                <div class="item">
                  <div class="socialImgBx">
                    <img src="../../../../assets/images/social_img.png" alt="" class="img-responsive"/>
                  </div>
                  <div class="socialTxtBx">
                    <h1 class="socialNameWrapper"><span class="socialName">Social</span><span
                      class="socialIcn"><img src="../../../../assets/images/twitter_icn_white.png" alt=""
                                             class="img-responsive"/></span></h1>
                    <p class="socialMsg">Lorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsuusto odio dignissimos ducimus qui blanitiis
                      http://abxjfhkjdsLorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsumiusto odio dignissmos ducimus qui
                      blanditiis </p>
                    <a class="socialLink" href="#">http://abxjfhkjds http://abxjfhkjds</a>
                    <p class="hrsAgo">19 hours ago</p>
                  </div>
                </div>
                <div class="item">
                  <div class="socialImgBx">
                    <img src="../../../../assets/images/social_img1.png" alt="" class="img-responsive"/>
                  </div>
                  <div class="socialTxtBx">
                    <h1 class="socialNameWrapper"><span class="socialName">Social</span><span
                      class="socialIcn"><img src="../../../../assets/images/twitter_icn_white.png" alt=""
                                             class="img-responsive"/></span></h1>
                    <p class="socialMsg">Lorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsuusto odio dignissimos ducimus qui blanitiis
                      http://abxjfhkjdsLorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsumiusto odio dignissmos ducimus qui
                      blanditiis </p>
                    <a class="socialLink" href="#">http://abxjfhkjds http://abxjfhkjds</a>
                    <p class="hrsAgo">19 hours ago</p>
                  </div>
                </div>
                <div class="item">
                  <div class="socialImgBx">
                    <img src="../../../../assets/images/social_img.png" alt="" class="img-responsive"/>
                  </div>
                  <div class="socialTxtBx">
                    <h1 class="socialNameWrapper"><span class="socialName">Social</span><span
                      class="socialIcn"><img src="../../../../assets/images/twitter_icn_white.png" alt=""
                                             class="img-responsive"/></span></h1>
                    <p class="socialMsg">Lorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsuusto odio dignissimos ducimus qui blanitiis
                      http://abxjfhkjdsLorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsumiusto odio dignissmos ducimus qui
                      blanditiis </p>
                    <a class="socialLink" href="#">http://abxjfhkjds http://abxjfhkjds</a>
                    <p class="hrsAgo">19 hours ago</p>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="insta">
              <div class="owl-carousel owl-theme socialDetailsSlider">
                <div class="item">
                  <div class="socialImgBx">
                    <img src="../../../../assets/images/social_img.png" alt="" class="img-responsive"/>
                  </div>
                  <div class="socialTxtBx">
                    <h1 class="socialNameWrapper"><span class="socialName">Social</span><span
                      class="socialIcn"><img src="../../../../assets/images/twitter_icn_white.png" alt=""
                                             class="img-responsive"/></span></h1>
                    <p class="socialMsg">Lorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsuusto odio dignissimos ducimus qui blanitiis
                      http://abxjfhkjdsLorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsumiusto odio dignissmos ducimus qui
                      blanditiis </p>
                    <a class="socialLink" href="#">http://abxjfhkjds http://abxjfhkjds</a>
                    <p class="hrsAgo">19 hours ago</p>
                  </div>
                </div>
                <div class="item">
                  <div class="socialImgBx">
                    <img src="../../../../assets/images/social_img1.png" alt="" class="img-responsive"/>
                  </div>
                  <div class="socialTxtBx">
                    <h1 class="socialNameWrapper"><span class="socialName">Social</span><span
                      class="socialIcn"><img src="../../../../assets/images/twitter_icn_white.png" alt=""
                                             class="img-responsive"/></span></h1>
                    <p class="socialMsg">Lorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsuusto odio dignissimos ducimus qui blanitiis
                      http://abxjfhkjdsLorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsumiusto odio dignissmos ducimus qui
                      blanditiis </p>
                    <a class="socialLink" href="#">http://abxjfhkjds http://abxjfhkjds</a>
                    <p class="hrsAgo">19 hours ago</p>
                  </div>
                </div>
                <div class="item">
                  <div class="socialImgBx">
                    <img src="../../../../assets/images/social_img.png" alt="" class="img-responsive"/>
                  </div>
                  <div class="socialTxtBx">
                    <h1 class="socialNameWrapper"><span class="socialName">Social</span><span
                      class="socialIcn"><img src="../../../../assets/images/twitter_icn_white.png" alt=""
                                             class="img-responsive"/></span></h1>
                    <p class="socialMsg">Lorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsuusto odio dignissimos ducimus qui blanitiis
                      http://abxjfhkjdsLorem ipsum iusto odio dignissimos ducimus qui blanditiis
                      http://abxjfhkjdsLorem ipsumiusto odio dignissmos ducimus qui
                      blanditiis </p>
                    <a class="socialLink" href="#">http://abxjfhkjds http://abxjfhkjds</a>
                    <p class="hrsAgo">19 hours ago</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Social Details End -->
<!-- Article Details Starts -->
<section class="articleDetails">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 articleDetailsAb">
        <div class="articleLftPtrn">
          <img src="../../../../assets/images/article_img.png" alt="" class="img-responsive"/>
        </div>
        <div class="articleDetailsWrapper">
          <h1 class="mainHeadingBlack">Articles</h1>
          <p>Get tips and strategies to build the ultimate fantasy lineup on Draftkings and Fanduel. Gain the
            edge needed to win!</p>

          <div class="articleWrapper">
            <div class="articleWrapperBx">
              <div class="articleBx">
                <a class="articleHdin">Sed Do Eiusmod Tempor 2017</a>
                <p class="articlePara">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                  aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Neque porro quisquam est.</p>
                <p class="articleOwnr">By Michel Bellar</p>
              </div>

              <div class="articleBx">
                <a class="articleHdin">Sed Do Eiusmod Tempor 2017</a>
                <p class="articlePara">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                  aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Neque porro quisquam est.</p>
                <p class="articleOwnr">By Michel Bellar</p>
              </div>

              <div class="articleBx">
                <a class="articleHdin">Sed Do Eiusmod Tempor 2017</a>
                <p class="articlePara">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                  aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Neque porro quisquam est.</p>
                <p class="articleOwnr">By Michel Bellar</p>
              </div>

              <div class="articleBx">
                <a class="articleHdin">Sed Do Eiusmod Tempor 2017</a>
                <p class="articlePara">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                  aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Neque porro quisquam est.</p>
                <p class="articleOwnr">By Michel Bellar</p>
              </div>

              <div class="articleBx">
                <a class="articleHdin">Sed Do Eiusmod Tempor 2017</a>
                <p class="articlePara">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                  aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Neque porro quisquam est.</p>
                <p class="articleOwnr">By Michel Bellar</p>
              </div>

              <div class="articleBx">
                <a class="articleHdin">Sed Do Eiusmod Tempor 2017</a>
                <p class="articlePara">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                  aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Neque porro quisquam est.</p>
                <p class="articleOwnr">By Michel Bellar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Article Details End -->
<!-- Newsletter Details Starts -->
<section class="newsletterDetails">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="newsletterDetailsWrapper">
          <h1 class="mainHeadingBlack">DF Sports Gods Newsletter</h1>
          <p class="newsletterPara">Sign up with your email address to receive news and updates.</p>
          <form>
            <div class="form-group">
              <label class="srOnly">Email Address</label>
              <input type="text" name="rId" placeholder="Email Address">
            </div>
            <input type="button" value="Sign Up" class="formBtn">
          </form>
          <p class="privacyPara">We respect your privacy.</p>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Newsletter Details End -->
