<div class="my-body">
  <div id="my-progress-bar" *ngIf="isLoading">
    <md-progress-bar mode="query" color="accent"></md-progress-bar>
  </div>
  <div class="container-fluid container-main my-common-class">

    <!-- Title -->

    <section class="my-section title-container">
      <div class="row">
        <div class="col-lg-5">
          <h4 class="content-title">Lineup Optimizer</h4>
        </div>
        <div class="col-lg-3 col-sm-5 col-border-b">
          <a class="btn"
             (click)="operatorChanged('FanDuel')"
             [class.btn-gray-black]="selectedOperator != 'FanDuel'"
             [class.btn-yellow-black]="selectedOperator == 'FanDuel'">FanDuel</a>
          <a class="btn"
             (click)="operatorChanged('DraftKings')"
             [class.btn-gray-black]="selectedOperator != 'DraftKings'"
             [class.btn-yellow-black]="selectedOperator=='DraftKings'">DraftKings</a>
        </div>
        <div class="col-lg-1 col-sm-2 col-border-b">

        </div>
        <div class="col-lg-3 col-sm-5 text-right">
          <a class="btn btn-gray-black" data-toggle="modal" data-target="#advance-feature-filters">Settings</a>
          <!--<a class="btn btn-gray-black active">All</a>
          <a class="btn btn-gray-black">My Pool</a>
          <a class="btn btn-gray-black">Daily Lineups</a>-->
        </div>
      </div>
    </section>
    <!--/ Title -->

    <!-- Filters -->
    <section class="my-section table-filtes-container section-gray">
      <div class="row">
        <div class="col-lg-7 col-md-6">
          <div class="row">
            <div class="col-lg-2 col-sm-3 no-padding-right">
              <select class="form-control input-sm" (change)="onSlateChanged($event)">
                <option [value]="0">All Slates</option>
                <option *ngFor="let slate of slates" [value]="slate.SlateID">{{slate.Slate}}</option>
              </select>
            </div>
            <div class="col-sm-3 no-padding-right">
              <select class="form-control input-sm" (change)="selectedGameChanged($event)">
                <option [value]="0">All Games</option>
                <option *ngFor="let game of games"
                        [value]="game.gameId">
                  {{game.homeTeam}}-{{game.awayTeam}}
                </option>
              </select>
            </div>
            <div class="col-sm-6">
              <!-- == If yo do not need red x, remove this classes "filter-icon filter-icon-x" == -->
              <div class="filter-icon filter-icon-x">
                <input class="form-control input-sm" [(ngModel)]="searchStr" type="text" placeholder="Search">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="row">
            <div class="col-md-5 col-sm-4 no-padding-right">
              <!-- input class="form-control input-sm" type="text" placeholder="Select Projection"-->
              <select class="form-control input-sm">
                <option>Select Projection</option>
                <option>Projection 1</option>
                <option>Projection 3</option>
                <option>Projection 4</option>
                <option>Projection 5</option>
              </select>
            </div>
            <div class="col-sm-3 no-padding-right">
              <input class="form-control input-sm" type="text" value="06/07/2017">
            </div>
            <div class="col-md-4 col-sm-5">
              <a class="btn btn-lg btn-yellow-black btn-noradius btn-block" (click)="onBtnGenerateLineupClick()">Generate
                Lineups</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ Filters -->

    <!-- Table -->
    <section class="my-section table-container table-responsive">
      <table class="table main-table table-striped td-center">
        <thead>
        <tr>
          <th>Lock</th>
          <th>Exclude</th>
          <th>Player Name</th>
          <th>Position</th>
          <th>Team</th>
          <th>Salary</th>
          <th>Hand</th>
          <th>Batting Order</th>
          <th>Opponent</th>
          <th>vs Pitcher</th>
          <th>Runs</th>
          <th>O/U</th>
          <th>Line</th>
          <th>Exposure</th>
          <th>Projection</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr>
          <td class="text-center"><img src="../../../../assets/img/Key.png"/></td>
          <td><a href="#"><img src="../../../../assets/img/x-red.png"/></a></td>
          <td>Blake Grifin Blake Grifin</td>
          <td>PF</td>
          <td>Manchester Utd</td>
          <td>$9100</td>
          <td>HOU</td>
          <td>PF</td>
          <td>LAC</td>
          <td></td>
          <td>22.5</td>
          <td>HOU</td>
          <td></td>
          <td><input class="form-control input-sm" type="text" placeholder="100%"></td>
          <td><input class="form-control input-sm" type="text" placeholder="100%"></td>
          <td></td>
        </tr>-->
        <tr *ngFor="let player of players | lineupOppFilter:['FirstName','LastName','fullName']:searchStr">
          <td class="text-center"><img src="../../../../assets/img/Key.png"/></td>
          <td><img src="../../../../assets/img/x-red.png"
                   (click)="btnExcludePlayerClicked(player)"
                   style="cursor: pointer"/></td>
          <td>{{player.Name}}</td>
          <td>{{player.Position}}</td>
          <td>{{player.Team}}</td>
          <td>{{player.Salary}}</td>
          <td>{{player.BatHand}} - {{player.ThrowHand}}</td>
          <td>{{player.BattingOrder ? player.BattingOrder : '-'}}</td>
          <td>{{player.Opponent}}</td>
          <td>{{player.vsPitcher}}</td>
          <td>{{player.Runs}}</td>
          <td>{{player.OverUnder}}</td>
          <td>{{player.Line}}</td>
          <td><input class="form-control input-sm" [(ngModel)]="player.exposureValue" type="number" max="100" min="0"
                     placeholder="100%">
          </td>
          <td>{{player.Points ? player.Points : '-'}}</td>
          <td>{{player.Value ? player.Value : '-'}}</td>
        </tr>
        </tbody>
      </table>
    </section>
    <!--/ Table -->
    <rp-adv-filter [advFilterSettings]="advFilterSettings"
                   #advFilterPopup
                   (filterCriteriaChanged)="onAdvFilterCriteriaChangedEvent($event)"></rp-adv-filter>
  </div>
</div>
