/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.common-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100000;
}

.dashboardContainer .topFiltrWrapper .topFilter .form-group {
  width: auto;
}


.dropzone.dz-wrapper .dz-message{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tblScrlCntntWrap {
  max-height: 523px;
  height: 523px;
  overflow-y: auto;
}

.dashboardContainer .topFiltrWrapper .topFilter .form-group.slctWrapper {
  width: 15%;
}
